@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('image/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 80px;
}
.wrapper h1{
    font-size: 40px;
    font-family: 'Lobster', cursive;
    letter-spacing: 1px;
    color: #fff;
}
.wrapper .box-time{
    position: relative;
    display: flex;
    line-height: normal;
    width: 530px;
    justify-content: space-between;
}
.box-time .time{
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(216, 48, 48);
    border-radius: 50%;
    box-shadow: 0 0 20px #fff,
            0 0 40px #fff;
}
.box-time .time::before{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    border: 11px solid rgb(251, 255, 0);
    box-shadow: inset 0 0 10px #333;
    border-radius: 50%;
}
.box-time .time p{
    font-size: 35px;
    font-family: 'Caramel', cursive;
}
.box-time .time span{
    padding: 10px 0px;
    font-size: 25px;
    font-family: 'Fredoka One', cursive;
}